<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Zewailcity for science and tecknology</title>
    <div style="text-align:center">
      <div class="eight">
        <h1>Zewail City</h1>
      </div>
    </div>
    <script src="https://cdn.amcharts.com/lib/5/index.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/xy.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/percent.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/themes/Micro.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/index.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/percent.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/index.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/xy.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/themes/Responsive.js"></script>
    <script src = "static/gpa.js"></script>
    <script src="/static/script.js"></script>
    <script src="/static/chart2.js"></script>
    <script src="/static/grade.js"></script>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <div>
      <div class="continer">
        <div class="column" id="chartdiv">
          <!-- <h3>Majors</h3> -->
        </div>
        <div class="column" id="datadiv">
          <!-- <h3>Gender</h3> -->
        </div>
      </div>
      <div class="continer">
        <div class="column" id="gradediv">
          <!-- <h3>Graduation</h3> -->
        </div>
        <div class="column" id="gpadiv">
          <!-- <h3>Gpa</h3> -->
        </div>
      </div>
    </div>
  </body>
</html>

